* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header-name {
  color: black;
  font-weight: 700;
  font-size: larger;
}

header {
  display: flex;

  justify-content: space-between;
}

.about-title {
  font-weight: 1000;
  color: black;
}
.header-buttons {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
  color: black;
}

.hero {
  width: auto;
  height: 50vh;
  background: white;
  padding: 30px 60px;
}

img {
  width: 300px;
  height: auto;
}

.about-car {
  color: black;
}
.hero-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.buy-now {
  padding: 8px 25px;
  border-radius: 10px;
  margin-top: 8px;
  background-color: black;
  font-weight: 500;
  color: white;
  transition: 150ms;
  border: 1px solid white;
}
.buy-now:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

/* hero done */

/* cards section */

.heading-features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
}
.car {
  width: 150px;
  border-radius: 10px;
  height: 12 0px;
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid white;
}
.card p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.603);
  font-weight: 500;
  text-align: center;
  margin-top: 3px;
}
.car-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cards-section {
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
}

/* quote section */
.quote-section {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px 200px;
}

blockquote {
  font-weight: 200;
}
blockquote h5 {
  font-weight: 600;
}

/* cta section */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
}

.cta {
  background-color: rgb(17, 17, 194);
  padding: 20px 170px;
  border-radius: 10px;
  color: white;
}
.signup-button {
  color: white;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid white;
  margin-top: 8px;
  transition: 150ms;
  font-weight: 500;
}
.signup-button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
/* footer section */

footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
  font-weight: 100px;
}

.footer-text {
  font-size: 12px;
}
